In [32]:
 url = 'https://kaggle.com/crazydiv/competitions'
browser.get(url)
comp_itr = browser.find_elements_by_css_selector('div.competition-info')[0]

In [33]:
sfs = comp_itr.find_elements_by_tag_name('span')

In [34]:
for i in sfs:
    print(i.text)

Featured
5 days to go
banking, tabular data, binary classification

5 days to go
banking, tabular data, binary classification



banking
, tabular data
, binary classification

2047

In [41]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.firefox.options import Options
from selenium.webdriver.common.by import By

In [51]:
local_list = ['prajwalprashanth', 'crazydiv', 'init27', 'sidujjain', 'aakashns', 'nazimgirach', 'vinodreddyg']
competitions_list = ['LANL Earthquake Prediction', 'Jigsaw Unintended Bias in Toxicity Classification', 'iNaturalist 2019 at FGVC6', 'iWildCam 2019 - FGVC6', 'iMet Collection 2019 - FGVC6']

In [58]:
lb = pd.DataFrame(index = local_list, columns = competitions_list)

In [59]:
options = Options()
options.headless = True
browser = webdriver.Firefox(options=options)

In [60]:
for name in local_list:
    url = 'https://kaggle.com/'+name+'/competitions'
    browser.get(url)
    comp_itr = browser.find_elements_by_css_selector('div.competition-info')
    for comp_div in comp_itr:
        comp_name = comp_div.text.split('\n')[0]
        if(comp_name in competitions_list):
            rank = comp_div.find_elements_by_tag_name('span')[-1].text
            lb.at[name, comp_name] = rank

In [61]:
lb

,LANL Earthquake Prediction,Jigsaw Unintended Bias in Toxicity Classification,iNaturalist 2019 at FGVC6,iWildCam 2019 - FGVC6,iMet Collection 2019 - FGVC6
prajwalprashanth,NaN,NaN,NaN,NaN,92
crazydiv,180,23,NaN,5,10
init27,482,NaN,NaN,NaN,NaN
sidujjain,656,34,NaN,NaN,NaN
aakashns,1370,NaN,NaN,NaN,NaN
nazimgirach,NaN,NaN,NaN,NaN,NaN
vinodreddyg,673,NaN,NaN,NaN,NaN

In [62]:
lb.columns = [lb.columns[i].split()[0] for i in range(len(lb.columns))]

In [63]:
lb.fillna("-", inplace=True)
lb

                  LANL Jigsaw iNaturalist iWildCam iMet
prajwalprashanth     -      -           -        -   92
crazydiv           180     23           -        5   10
init27             482      -           -        -    -
sidujjain          656     34           -        -    -
aakashns          1370      -           -        -    -
nazimgirach          -      -           -        -    -
vinodreddyg        673      -           -        -    -

In [107]:
import json
import requests

In [112]:
#SLACK_HOOKS_URL = "https://hooks.slack.com/services/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" #dsKaggling
SLACK_HOOKS_URL = 'https://hooks.slack.com/services/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' #apple

def _get_json_data(data):
    return {
        "text": '```' + data + '\n```\n'
    }


def _mk_request(data):
    json_data = _get_json_data(data)
    req = requests.post(SLACK_HOOKS_URL, json=json_data)
    return req.status_code

In [113]:
_mk_request(lb.to_string())

200

In [122]:
lb

,Santander,PetFinder.my,LANL,Jigsaw,iNaturalist,iWildCam,iMet,Santander Customer Transaction Prediction,PetFinder.my Adoption Prediction,iMet Collection 2019 - FGVC6,Jigsaw Unintended Bias in Toxicity Classification,LANL Earthquake Prediction
prajwalprashanth,-,-,-,-,-,-,-,6059,NaN,NaN,NaN,NaN
crazydiv,1930,306,-,40,-,-,42,1930,306,42,40,NaN
init27,-,22,464,-,-,-,-,NaN,22,NaN,NaN,464
sidujjain,-,342,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN
aakashns,-,342,1317,-,-,-,-,NaN,NaN,NaN,NaN,NaN
nazimgirach,-,211,-,-,-,-,-,NaN,211,NaN,NaN,NaN
vinodreddyg,-,342,792,-,-,-,-,NaN,342,NaN,NaN,793

In [138]:
import imgkit
imgkit.from_string(lb.to_html(), 'img.png')

TypeError: to_excel() got an unexpected keyword argument 'sep'

In [134]:
my_file = {
  'file' : ('/img.png', open('img.png', 'rb'), 'png')
}
token = 'xoxp-404520580326-439464723282-599794360727-709942bca9f05726605c0ec7a0215f71' #dsKaggling
#token = 'xoxp-552921805251-553368666757-596585989094-151f50676c2f2e631db99224e3a59f44' #apple
payload={
  "filename":"img.png", 
  "token":token, 
  "channels":['#kaggling'], 
}

r = requests.post("https://slack.com/api/files.upload", params=payload, files=my_file)

In [132]:
r

In [34]:
import jovian

In [35]:
jovian.commit()

[jovian] Saving notebook..

[jovian] Creating a new notebook on https://jvn.io
[jovian] Please enter your API key (from https://jvn.io ):
········
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jvn.io/PrajwalPrashanth/c5b404107a7f438a80866e75629978b0

[jovian] Error: Failed to read Anaconda environment using command: "conda env export -n base --no-builds"