In [141]:
 url = 'https://kaggle.com/crazydiv/competitions'
browser.get(url)
comp_itr = browser.find_elements_by_css_selector('div.competition-info')[0]

In [142]:
sfs = comp_itr.find_elements_by_tag_name('span')

[<selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="fc75bc6b-2ee4-4648-aefc-1aaf237a484b")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="6b899ca9-82f0-4372-b3a5-cac74a317dbe")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="7ae8635c-1e3d-4707-94b5-dfc08126675e")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="9e5a8bdf-cfc8-41c5-8cb5-821926f4cceb")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="c36f7ee0-14b1-429e-80e9-d837dfa79e1e")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="4be439cf-1464-481a-8f17-0093477fc33d")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="f08cb362-4d1b-42a8-9bd4-06c095e614f3")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="f172a992-fd49-416d-b699-8007a729beee")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="8656bdf7-18b5-408c-adbd-bf223b3832b3")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="1bbf93a8-a1b7-4676-8f46-36800490d955")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="d3612965-bdc9-42a0-827f-0171ebc950e7")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="4dc953bd-dd7d-4dd8-9265-96a422849d6d")>,
 <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="2495e655-0adb-4200-8f53-0b0a7a21f8d1", element="b4fd0a58-102d-4e5f-a5c5-bb734eae1706")>]

In [155]:
sfs[12].text

'1929'

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.firefox.options import Options
from selenium.webdriver.common.by import By

In [54]:
local_list = ['prajwalprashanth', 'crazydiv', 'init27', 'sidujjain', 'aakashns', 'nazimgirach', 'vinodreddyg']
competitions_list = ['Santander Customer Transaction Prediction', 'PetFinder.my Adoption Prediction','LANL Earthquake Prediction', 'Jigsaw Unintended Bias in Toxicity Classification', 'iNaturalist 2019 at FGVC6', 'iWildCam 2019 - FGVC6', 'iMet Collection 2019 - FGVC6']

In [123]:
lb = pd.DataFrame(index = local_list, columns = competitions_list)

In [124]:
options = Options()
options.headless = True
browser = webdriver.Firefox(options=options)

In [125]:
for name in local_list:
    url = 'https://kaggle.com/'+name+'/competitions'
    browser.get(url)
    comp_itr = browser.find_elements_by_css_selector('div.competition-info')
    for comp_div in comp_itr:
        comp_name = comp_div.text.split('\n')[0]
        if(comp_name in competitions_list):
            rank = comp_div.find_element_by_css_selector('span.sc-eKfHpZ').text
            lb.at[name, comp_name] = rank

In [126]:
lb

,Santander Customer Transaction Prediction,PetFinder.my Adoption Prediction,LANL Earthquake Prediction,Jigsaw Unintended Bias in Toxicity Classification,iNaturalist 2019 at FGVC6,iWildCam 2019 - FGVC6,iMet Collection 2019 - FGVC6
prajwalprashanth,6058,NaN,NaN,NaN,NaN,NaN,NaN
crazydiv,1929,306,NaN,40,NaN,NaN,42
init27,NaN,22,464,NaN,NaN,NaN,NaN
sidujjain,NaN,342,NaN,NaN,NaN,NaN,NaN
aakashns,NaN,342,1318,NaN,NaN,NaN,NaN
nazimgirach,NaN,211,NaN,NaN,NaN,NaN,NaN
vinodreddyg,NaN,342,793,NaN,NaN,NaN,NaN

In [127]:
lb.columns = [lb.columns[i].split()[0] for i in range(len(lb.columns))]

In [128]:
lb.fillna("-", inplace=True)
lb

                 Santander PetFinder.my  LANL Jigsaw iNaturalist iWildCam iMet
prajwalprashanth      6058            -     -      -           -        -    -
crazydiv              1929          306     -     40           -        -   42
init27                   -           22   464      -           -        -    -
sidujjain                -          342     -      -           -        -    -
aakashns                 -          342  1318      -           -        -    -
nazimgirach              -          211     -      -           -        -    -
vinodreddyg              -          342   793      -           -        -    -

In [107]:
import json
import requests

In [112]:
#SLACK_HOOKS_URL = "https://hooks.slack.com/services/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" #dsKaggling
SLACK_HOOKS_URL = 'https://hooks.slack.com/services/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' #apple

def _get_json_data(data):
    return {
        "text": '```' + data + '\n```\n'
    }


def _mk_request(data):
    json_data = _get_json_data(data)
    req = requests.post(SLACK_HOOKS_URL, json=json_data)
    return req.status_code

In [113]:
_mk_request(lb.to_string())

200

In [122]:
lb

,Santander,PetFinder.my,LANL,Jigsaw,iNaturalist,iWildCam,iMet,Santander Customer Transaction Prediction,PetFinder.my Adoption Prediction,iMet Collection 2019 - FGVC6,Jigsaw Unintended Bias in Toxicity Classification,LANL Earthquake Prediction
prajwalprashanth,-,-,-,-,-,-,-,6059,NaN,NaN,NaN,NaN
crazydiv,1930,306,-,40,-,-,42,1930,306,42,40,NaN
init27,-,22,464,-,-,-,-,NaN,22,NaN,NaN,464
sidujjain,-,342,-,-,-,-,-,NaN,NaN,NaN,NaN,NaN
aakashns,-,342,1317,-,-,-,-,NaN,NaN,NaN,NaN,NaN
nazimgirach,-,211,-,-,-,-,-,NaN,211,NaN,NaN,NaN
vinodreddyg,-,342,792,-,-,-,-,NaN,342,NaN,NaN,793

In [138]:
import imgkit
imgkit.from_string(lb.to_html(), 'img.png')

TypeError: to_excel() got an unexpected keyword argument 'sep'

In [134]:
my_file = {
  'file' : ('/img.png', open('img.png', 'rb'), 'png')
}
token = 'xoxp-404520580326-439464723282-599794360727-709942bca9f05726605c0ec7a0215f71' #dsKaggling
#token = 'xoxp-552921805251-553368666757-596585989094-151f50676c2f2e631db99224e3a59f44' #apple
payload={
  "filename":"img.png", 
  "token":token, 
  "channels":['#kaggling'], 
}

r = requests.post("https://slack.com/api/files.upload", params=payload, files=my_file)

In [132]:
r

In [34]:
import jovian

In [35]:
jovian.commit()

[jovian] Saving notebook..

[jovian] Creating a new notebook on https://jvn.io
[jovian] Please enter your API key (from https://jvn.io ):
········
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jvn.io/PrajwalPrashanth/c5b404107a7f438a80866e75629978b0

[jovian] Error: Failed to read Anaconda environment using command: "conda env export -n base --no-builds"